body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
background-color: #A4BC92; 
color: #DDFFBB;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #F5F3C1;
    text-decoration: none;}

    

    #banner img {
        max-width: 100%;
        max-height: 100%;
        
    }

    #main-content {
        display: flex;
        flex-wrap: wrap;
    }

    article {
        margin: 10px;
        padding: 10px;
        background-color: #89375F;
        border: 1px solid #F3E8FF;
        flex-basis: calc(33.33% - 20px);
        box-sizing: border-box;
    }

    p {
        color:#F3E8FF;
    }

    h2 {
        color:#BACDDB;
    }

    article h2 {
        margin: 0;
        font-size: 1.5em;
    }

    #sidebar {
        padding: 10px;
        background-color: #F3DEBA;
        border: 1px solid #ccc;
        flex-basis: 20%;
    }

    #sidebar h3 {margin: 0;
        font-size: 1.2em;
    }

    #sidebar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #sidebar li {
        margin: 5px 0;
    }

    #sidebar a {
        color: #333;
        text-decoration: none;
    }

    footer {
        background-color: #A4BC92;
        color: #DDFFBB;
        padding: 10px;
        text-align: center;
    }

    footer p {margin: 0;
        font-size: 0.8em;
    }

